$petcolor: orange;
$pestcolor: cornflowerblue;

$breakpoint-med-val: 768px;
$breakpoint-large-val: 1000px;

$breakpoint-med: 'only screen and (min-width:#{$breakpoint-med-val})';
$breakpoint-large: 'only screen and (min-width:#{$breakpoint-large-val})';

@mixin bp($breakpoint) {
  @if $breakpoint == 'med' {
    @media #{$breakpoint-med} { @content; }
  }

  @if $breakpoint == 'large' {
    @media #{$breakpoint-large} { @content; }
  }
}

body {
  background-image: url(https://thumbs.dreamstime.com/b/vector-seamless-pattern-subtle-floral-ornamental-background-repeat-geometric-tiles-abstract-light-beige-white-ornament-texture-159867857.jpg);
  background-blend-mode: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pet-or-pest {
  @include bp('large') {
    width: 900px;
  }
  margin: 0 auto;

  .pet-or-pest__heading {
    text-align: center;
    font-size: 3em;
  }

  .pet-or-pest__division {
    float: left;
  }

  .pet-or-pest__division--center {
    width: 676px;
  }

  .pet-or-pest__image {
    background-color: darkgray;
    display: block;
    margin: 0 auto;
    border: 10px solid white;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;

    width: 200px;
    height: 200px;
    @include bp('large') {
      width: 450px;
      height: 450px;
    }
  }

  .pet-or-pest__arrows {
    position: relative;
    @include bp('large') {
      top: -280px;
    }
  }

  .pet-or-pest__arrow-link {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 10px black;
    text-transform: uppercase;
  }

  .pet-or-pest__arrow--pet {
    width: 61px;
    height: 50px;
    background: $petcolor;
    float: left;
    margin-top: 15px;
    font-size: 31px;
    line-height: 50px;
    border-right: 10px solid $petcolor;
    margin-left: -21px;
  }

  .pet-or-pest__arrow--pest {
    width: 50px;
    height: 50px;
    background: $pestcolor;
    float: left;
    margin-top: 15px;
    font-size: 31px;
    line-height: 50px;
    border-left: 10px solid $pestcolor;
  }

  .pet-or-pest__arrow-head {
    width: 0;
    height: 0;
  }

  .pet-or-pest__arrow-head--pet {
    border-top: 40px solid transparent;
    border-right: 62px solid $petcolor;
    border-bottom: 40px solid transparent;
    float: left;
  }

  .pet-or-pest__arrow-head--pest {
    border-top: 40px solid transparent;
    border-left: 62px solid $pestcolor;
    border-bottom: 40px solid transparent;
    margin-left: 50px;
  }
}

.results {
  clear: left;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;

  .results__heading {
    text-align: center;
    font-size: 2em;
  }

  .results__division {
    float: left;
  }

  .results__division--center {
    width: 34%;
  }

  .results__division--left, .results__division--right {
    width: 33%;
  }

  .results__image {
    background-color: darkgray;
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    border: 6px solid white;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
  }

  .results__agreement {
    color: #444;
    font-style: italic;
    font-size: 2em;
    text-align: center;
  }

  .results__agreement-percent {
    font-weight: bold;
  }

  .results__bar-chart {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border-left: 2px solid #222;
    border-bottom: 2px solid #222;
  }

  .results__bar-chart--bar {
    float: left;
    height: 110px;
    width: 44px;
    margin-left: 10px;
    border: 1px solid #888;
    border-bottom: 2px solid #222;
    margin-top: 9px;
  }

  .results__bar-chart--label {
    margin-top: 5px;
    color: white;
    text-shadow: 1px 1px 10px black;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

  .results__bar-chart--bar-pet {
    background-color: $petcolor;
  }

  .results__bar-chart--bar-pest {
    background-color: $pestcolor;
  }
}

.footer {
  clear: left;
  padding-top: 150px;

  p {
    text-align: center;
    margin: 50px;
    color: #222;
  }
}
