.pet-or-pest {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  .pet-or-pest__heading {
    text-align: center;
    font-size: 2em;
  }

  .pet-or-pest__image {
    background-color: darkgray;
    width: 450px;
    height: 450px;
    display: block;
    margin: 0 auto;
    border: 10px solid white;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
  }
}
