$breakpoint-small-val: 450px;
$breakpoint-med-val: 650px;
$breakpoint-large-val: 1000px;

$breakpoint-small: 'only screen and (min-width:#{$breakpoint-small-val})';
$breakpoint-med: 'only screen and (min-width:#{$breakpoint-med-val})';
$breakpoint-large: 'only screen and (min-width:#{$breakpoint-large-val})';

@mixin bp($breakpoint) {
  @if $breakpoint == 'small' {
    @media #{$breakpoint-small} {
      @content;
    }
  }
  @if $breakpoint == 'med' {
    @media #{$breakpoint-med} {
      @content;
    }
  }
  @if $breakpoint == 'large' {
    @media #{$breakpoint-large} {
      @content;
    }
  }
}
