<!doctype html>

<html language="en">
  <head>
    <meta charset="utf-8">
    <title>Pet or Pest?</title>
    <meta name="description" content="A site for desciding whether animals are a Pet or a Pest">
    <meta name="author" content="D Goomani and Aimee Rivers">
  </head>
  <body>
    <section class="pet-or-pest">
      <h1 class="pet-or-pest__heading">Pet or Pest?</h1>

      <div class="pet-or-pest__division pet-or-pest__division--left">
        <div class="pet-or-pest__arrow-container pet-or-pest__arrow-container--left">
          <div class="pet-or-pest__arrow-head pet-or-pest__arrow-head--left"></div>
          <div class="pet-or-pest__arrow--left">
            <a class="pet-or-pest__arrow-link" href="#">Pet</a>
          </div>
        </div>
      </div>

      <div class="pet-or-pest__division pet-or-pest__division--center">
        <img src="" class="pet-or-pest__image">
      </div>

      <div class="pet-or-pest__division pet-or-pest__division--right">
        <div class="pet-or-pest__arrow-container pet-or-pest__arrow-container--right">
          <div class="pet-or-pest__arrow--right">
            <a class="pet-or-pest__arrow-link" href="#">Pest</a>
          </div>
          <div class="pet-or-pest__arrow-head pet-or-pest__arrow-head--right"></div>
        </div>
      </div>
      
    </section>

    <section class="results">
      <h2 class="results__heading">You said: PET!</h2>

      <div class="results__division results__division--left">
        <p class="results__agreement">
          <span class="results__agreement-percent">73%</span> agree with you
        </p>
      </div>

      <div class="results__division results__division--center">
        <img src="" class="results__image">
      </div>

      <div class="results__division results__division--right">
        <div class="results__bar-chart">
          <div class="results__bar-chart--bar results__bar-chart--bar-pet">
            <span class="results__bar-chart--label">73% Pet</span>
          </div>
          <div class="results__bar-chart--bar results__bar-chart--bar-pest" style="height: 50px; margin-top: 69px;">
            <span class="results__bar-chart--label">27% Pest</span>
          </div>
        </div>
      </div>

    </section>

    <section class="footer">
      <p>Pet or Pest? made by D Goomani and Aimee Rivers</p>
    </section>
  </body>
</html>
