<!doctype html>

<html language="en">
  <head>
    <meta charset="utf-8">
    <title>Pet or Pest?</title>
    <meta name="description" content="A site for desciding whether animals are a Pet or a Pest">
    <meta name="author" content="D Goomani and Aimee Rivers">
  </head>
  <body>
    <section class="pet-or-pest">
      <h1 class="pet-or-pest__heading">Pet or Pest?</h1>

      <div class="pet-or-pest__division pet-or-pest__division--left">
        <div class="pet-or-pest__arrow-container pet-or-pest__arrow-container--left">
          <div class="pet-or-pest__arrow-head pet-or-pest__arrow-head--left"></div>
          <div class="pet-or-pest__arrow--left">
            <a class="pet-or-pest__arrow-link" href="#">Pet</a>
          </div>
        </div>
      </div>

      <div class="pet-or-pest__division pet-or-pest__division--center">
        <img src="" class="pet-or-pest__image">
      </div>

      <div class="pet-or-pest__division pet-or-pest__division--right">
        <div class="pet-or-pest__arrow-container pet-or-pest__arrow-container--right">
          <div class="pet-or-pest__arrow--right">
            <a class="pet-or-pest__arrow-link" href="#">Pest</a>
          </div>
          <div class="pet-or-pest__arrow-head pet-or-pest__arrow-head--right"></div>
        </div>
      </div>
      
    </section>

    <section class="you-said">
      <h2 class="you-said__heading">You said: PET!</h2>

      <div class="you-said__division you-said__division--left">
        <p class="you-said__agreement">
          <span class="you-said__agreement-percent">73%</span> agree with you
        </p>
      </div>

      <div class="you-said__division you-said__division--center">
        <img src="" class="you-said__image">
      </div>

      <div class="you-said__division you-said__division--right">
        <p class="you-said__bar-chart">bar chart</p>
      </div>

    </section>
  </body>
</html>
