<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-81644572-15"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-81644572-15');
    </script>

    <meta charset="utf-8" />
    <title>Pet or Pest?</title>
    <meta
      name="description"
      content="A site for desciding whether animals are a Pet or a Pest"
    />
    <meta name="author" content="D Goomani and Aimee Rivers" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <link rel="canonical" href="https://www.petorpest.com" />

    <!-- favicons -->
    <link rel="icon" href="favicons/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="favicons/favicon-167.png" sizes="167x167" />
    <link rel="icon" href="favicons/favicon-192.png" sizes="192x192" />
    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="favicons/favicon-196.png" />
    <!-- iOS -->
    <link
      rel="apple-touch-icon"
      href="favicons/favicon-152.png"
      sizes="152x152"
    />
    <link
      rel="apple-touch-icon"
      href="favicons/favicon-180.png"
      sizes="180x180"
    />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Pet or Pest?" />
    <meta
      itemprop="description"
      content="A site for deciding whether animals are a Pet or a Pest"
    />
    <meta itemprop="image" content="social.jpg" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Pet or Pest?" />
    <meta
      name="twitter:description"
      content="A site for deciding whether animals are a Pet or a Pest"
    />

    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="social.jpg" />
    <meta name="twitter:image" content="social.jpg" />
    <meta name="twitter:url" content="https://www.petorpest.com/" />

    <!-- Open Graph data -->
    <meta property="og:site_name" content="Pet or Pest?" />
    <meta property="og:title" content="Pet or Pest?" />
    <meta
      property="og:description"
      content="A site for desciding whether animals are a Pet or a Pest"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.petorpest.com/" />
    <meta property="og:image" content="social.jpg" />
    <meta property="og:locale" content="en_GB" />
  </head>
  <body>
    <div id="pet-or-pest"></div>
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
    ></script>
  </body>
</html>
